@font-face {
	font-family: 'iconfont';
		src: url('iconfont.eot');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'iconfont';
	src: url('iconfont.eot?1455279057781');
	src: url('iconfont.eot?#iefix-1455279057781') format('embedded-opentype'),
		url('iconfont.woff2?#iconfont-1455279057781') format('woff2'),
		url('iconfont.woff?1455279057781') format('woff'),
		url('iconfont.ttf?1455279057781') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^='icon-']:before,
[class*=' icon-']:before {
	font-family: 'iconfont';
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/

.icon-delete:before {
	content: '\';
}

.icon-go-down:before {
	content: '\';
}

.icon-go-left:before {
	content: '\';
}

.icon-go-right:before {
	content: '\';
}

.icon-go-up:before {
	content: '\';
}

.icon-readme:before {
	content: '\';
}

.icon-user:before {
	content: '\';
}